
<h1><%= @product.name %></h1>
<h2><%= @product.description %></h2>
<h3>Options:</h3>
<ul>
	<% @product.product_options.each do |product_option| %>
		<li><%= product_option.name %></li>
		<% end %>
	</ul>
	
	<img src="<%= @product.photo %>" height="200" width="200" />
	<p><a href="/products/<%= @product.id %>/edit">
<h3><%= @product.price %></h3>
<p>Edit Item</p></a>
</br>
</br>

<a href="/products">Go home</a>